/* [Thanks to my good friend dogwoz for letting me "borrow" off of the fonts he has on his website.] */
@font-face {
    font-family: 'Terminus';
    src: url('https://dogewoz.github.io/fonts/Terminus.woff2') format('woff2'),
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #0f0f0f;
    color: purple;
    font-family: Terminus, sans-serif;
}

h1 {
    text-align: center;
}

p {
    margin: 20px;
}
