@font-face {
    font-family: 'Terminus';
    src: url('https://dogewoz.github.io/fonts/Terminus.woff2') format('woff2'),
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: black;
    color: purple;
    font-family: Terminus, sans-serif;
}

h1 {
    text-align: center;
}

p {
    margin: 20px;
}
